{{#if drawGraph}}
    <canvas id="dataChart" width="400" height="225"></canvas>
{{else}}
    {{#if singleValue}}
        <br>
        <h1>{{singleValue}}</h1>
        <b>Date: </b>{{date}}
    {{else}}
        <br>
        <h1>{{newValue}}</h1>
        <b>Date: </b>{{newDate}}
        <br>
        <h3 style="color:#808080">{{oldValue}}</h3>
        <b>Date: </b>{{oldDate}}
    {{/if}}
{{/if}}
