<div style="height:420px;">
<table id="ploggingHistoryTable" class="table table-bordered">
    <thead>
        </thead>
        <tbody>
            <tr>
                <td>Date</td>
                <td>{{data.date}}</td>
            </tr>
            <tr>
                <td>Affiliation</td>
                <td>{{data.affiliation}}</td>
            </tr>
            <tr>
                <td>Affiliation Name</td>
                <td>{{data.affiliation_name}}</td>
            </tr>
            <tr>
                <td>Participants</td>
                <td>{{data.participants}}</td>
            </tr>
            <tr>
                <td>Poster?</td>
                <td>{{data.poster}}</td>
            </tr>
        </tbody>
    </table>
    {{#each photoIds}}
        <img id="{{this}}" class="img-thumbnail image" src="https://api.mwater.co/v3/images/{{this}}?h=100" style="max-height: 100px" onerror="this.onerror=null;this.src='img/no-image-icon.jpg';">
    {{/each}}
</div>
