<div style="height:350px;">
    <br>
    {{#if hasNoData}}
        No data
    {{else}}
    <table id="historyTable" class="table table-bordered">
        <thead>
        <tr>
            <th>Measures</th>
            {{#each data}}
            <th>{{date}}</th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Turbidity</th>
            {{#each data}}
                <td>
                {{turbidity}}
                </td>
            {{/each}}
        </tr>
        <tr>
            <th scope="row">pH</th>
            {{#each data}}
                <td>
                    {{ph}}
                </td>
            {{/each}}
        </tr>
        <tr>
            <th scope="row">Temperature</th>
            {{#each data}}
                <td>
                    {{waterTemperature}}
                </td>
            {{/each}}
        </tr>
        <tr>
            <th scope="row">Oxygen</th>
            {{#each data}}
                <td>
                    {{dissolvedOxygen}}
                </td>
            {{/each}}
        </tr>
        </tbody>
    </table>
    {{/if}}
</div>