<div style="height:280px;overflow: auto;">
    <br>
    {{#if hasNoData}}
        No data
    {{else}}
    <table id="historyTable" class="table table-bordered">
        <thead>
        <tr>
            <th>Measures</th>
            <th>Turbidity</th>
            <th>pH</th>
            <th>Temperature</th>
            <th>Oxygen</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr>
                <th scope="row">{{date}}</th>
                <td>{{turbidity}}</td>
                <td>{{ph}}</td>
                <td>{{waterTemperature}}</td>
                <td>{{dissolvedOxygen}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>